#jinja2: trim_blocks: True, lstrip_blocks: True
{% for item in csi_driver_smb.storage_class %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.provisioner_secret_name }}
  namespace: default
type: Opaque
stringData:
  username: {{ item.smb_username }}
  password: {{ item.smb_password }}
{% endfor %}